<div class="main-historial">
    <div class="mensaje">
        <div class="mensaje-local">
            <div class="bubble">
                <p class="m-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima magni eaque, nihil consectetur earum, ipsum officia, quidem omnis in expedita ipsa quia non eius rerum fugit vel explicabo dolor maiores nam.
                </p>
            </div>
            <div class="time"><small>10:12</small></div>
        </div>
        <div class="mensaje-externo">
            <div class="bubble">
                <p class="m-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima magni eaque, nihil consectetur earum, ipsum officia, quidem omnis in expedita ipsa quia non eius rerum fugit vel explicabo dolor maiores nam.
                </p>
            </div>
            <div class="time"><small>18:25</small></div>
        </div>
    </div>
    <div class="form-group">
        <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe">
    </div>
</div>